<footer id="footer">
<!--(remove-empty-lines-end)-->
  <div class="container">
    <div class="row">
      <div class="footer-ribbon">
        <span>Get in Touch</span>
      </div>

      <div class="col-md-3">
        <h4>My Account</h4>
        <ul class="links">
          <li>
            <i class="fa fa-caret-right text-color-primary"></i>
            <a href="{{site.baseurl}}/about">About Us</a>
          </li>
          <li>
            <i class="fa fa-caret-right text-color-primary"></i>
            <a href="{{site.baseurl}}/contact">Contact Us</a>
          </li>
          <li>
            <i class="fa fa-caret-right text-color-primary"></i>
            <a href="{{site.baseurl}}/store/#dashboard">My account</a>
          </li>
          <li>
            <i class="fa fa-caret-right text-color-primary"></i>
            <a href="#">FAQ</a>
          </li>
          <li>
            <i class="fa fa-caret-right text-color-primary"></i>
            <a href="{{site.baseurl}}/careers">Careers</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="contact-details">
          <h4>Contact Information</h4>
          <ul class="contact">
            <li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong><br> 12333 Enterprise Blvd, Largo, FL</p></li>
            <li><p><i class="fa fa-phone"></i> <strong>Phone:</strong><br> (727) 5361-3568</p></li>
            <li><p><i class="fa fa-envelope-o"></i> <strong>Email:</strong><br> <a href="mailto:mail@example.com">customerservice@primadiy.com</a></p></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <h4>Main Features</h4>
        <ul class="features">
          <li>
            <i class="fa fa-check text-color-primary"></i>
            <a href="#">Wiki-BEAD-ia</a>
          </li>
          <li>
            <i class="fa fa-check text-color-primary"></i>
            <a href="#">Watch & Learn Center</a>
          </li>
          <li>
            <i class="fa fa-check text-color-primary"></i>
            <a href="#">Beading Projects</a>
          </li>
          <li>
            <i class="fa fa-check text-color-primary"></i>
            <a href="#">FAQ about Crafts and Design</a>
          </li>
          <li>
            <i class="fa fa-check text-color-primary"></i>
            <a href="{{ site.baseurl }}/careers">Employment Opportunities</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="newsletter">
          <h4>Be the First to Know</h4>
          <p class="newsletter-info">Get all the latest information on Events,<br> Sales and Offers. Sign up for newsletter today.</p>

          <div class="alert alert-success hidden" id="newsletterSuccess">
            <strong>Success!</strong> You've been added to our email list.
          </div>

          <div class="alert alert-danger hidden" id="newsletterError"></div>


          <p>Enter your e-mail Address:</p>
          <form id="newsletterForm" action="../php/newsletter-subscribe.php" method="POST">
            <div class="input-group">
              <input class="form-control" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Submit</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a href="index.html" class="logo">
        <img alt="PrimaBead" class="img-responsive" src="{{ site.baseurl }}/images/logos/primafooter.png">
      </a>
      <ul class="social-icons">
        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
      <img alt="Payments" src="{{ site.baseurl }}/img/demos/shop/payments.png" class="footer-payment">
      <p class="copyright-text">© Copyright 2017. All Rights Reserved.</p>
    </div>
  </div>
</footer>
