/* CSS Customizations */

.client img {
    max-width: 80% !important;
}

.tabs.product-tabs.tabs-left .tab-content {
	padding: 15px;
}

#floating_alert {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5000;
}

.dataTables_filter, .dataTables_paginate.paging_bs_normal {
    float: right;
}

#header .header-nav-main nav > ul > li.active > a, 
header .header-nav-main nav > ul > li.active > a:hover {
    color: #5BC1A5;
    background-color: #fff;
}

#header .header-nav-main nav > ul > li:hover > a,
#header .header-nav-main nav > ul > li:hover > a, #header .header-nav-main nav > ul > li.open > a, #header .header-nav-main nav > ul > li.active > a, #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary:hover > a, #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary.open > a, #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary.active > a,
#header .header-nav-main nav > ul > li:hover > a:hover, #header .header-nav-main nav > ul > li:hover > a:focus, #header .header-nav-main nav > ul > li.open > a:hover, #header .header-nav-main nav > ul > li.open > a:focus, #header .header-nav-main nav > ul > li.active > a:hover, #header .header-nav-main nav > ul > li.active > a:focus, #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary:hover > a:hover, #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary:hover > a:focus, #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary.open > a:hover, #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary.open > a:focus, #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary.active > a:hover, #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary.active > a:focus {
	color: #fd6b54;
	background-color: #fff;
}

.page-header {
    background-color: #ffdcd2;
}

.page-header .breadcrumb > li + li:before, .product-details-box .product-detail-info .product-price-box .product-price {
    color: #FD6B54;
}

#header .header-nav-main nav > ul > li > a.dropdown-toggle, #header .header-nav-main nav > ul > li > a,
#header .cart-dropdown .cart-dropdown-icon i, 
.page-header .breadcrumb > li > a, .page-header .breadcrumb > li.active,
#footer h1, #footer h2, #footer h3, #footer h4, #footer a,
#footer .contact p, #footer .newsletter p.newsletter-info, 
#footer .newsletter p, #footer .footer-copyright p {
    color: #535353;
}

#footer .contact i, html .text-color-primary, .product-details-box .product-detail-qty #product-vqty, 
#header .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-sub-nav > li > a, .panel-box a {
    color: #5BC1A5 !important;
}

#footer .footer-copyright .social-icons li a:not(:hover) {
    background-color: #535353;
}

html .btn-primary {
    color: #535353;
    background-color: transparent; 
    border-color: #535353;
    font-weight: 600;
}

.form-section .form-action a:not(.btn), aside ul.nav-list > li.active > a {
    color: #85CCb9;
}

.product-details-box .product-actions .addtocart, .product .product-quickview { 
    background-color: #5BC1A5;
}

.product-actions a.addtocart:hover {
    background-color: #5BC1A5 !important;
}

@media (min-width: 992px) {
    #header .header-nav-main nav > ul > li > a {
        font-size: 14px;
        font-weight: 600;
    }
}

aside ul.nav-list > li.active > a:before {
    border-left-color: #85CCB9;
}