/* CSS Customizations */

.client img {
    max-width: 80% !important;
}

/* hide the 'X' on orders and invoice page */
.panel-action.panel-action-dismiss {
	display: none;
}

.home-intro {
	background-color: #F4898F;

}

h1.home-marquee.get-started {
	color: #76D5D4;
	font-size: 28px;
	font-weight: 500;
	text-align: center;
}

.home-intro .get-started a {
	font-size: 28px;
}

@media (max-width: 768px) {
	h1.home-marquee.get-started, .home-intro .get-started a {
		font-size: 20px;
	}
}

@media (max-width: 468px) {
	h1.home-marquee.get-started, .home-intro .get-started a {
		font-size: 16px;
	}
	#header .header-logo {
		display: none;
	}
}

.tabs.product-tabs.tabs-left .tab-content {
	padding: 15px;
}

#header .cart-dropdown .cart-dropdownmenu .dropdownmenu-wrapper { 
	border-top: 6px solid #76D5D4;
}

#floating_alert {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5000;
}

.get-started {
	text-align: center;
}

.dataTables_filter, .dataTables_paginate.paging_bs_normal {
    float: right;
}

.banner .ban-title, #footer .footer-ribbon {
	background-color: #3f4658
}

#header .header-body, .sticky-header-active #header .header-body, #footer .footer-copyright, .sticky-header-active #header.transparent .header-body, .sticky-header-active #header .header-body, #header .header-body {
	background-color: #fff;
	border-bottom: #fff
}

.page-header {
	background-color: #F4898F;
}


ul.cat-list li a {
 font-weight: 600;
 font-size: 15px;
}

#header .header-nav-main nav > ul > li > a, #header .header-nav-main nav > ul > li > a.dropdown-toggle, #header .top-menu li a,
#header .top-menu-area > a, .mmenu-toggle-btn, #header .header-search .search-toggle, #header .cart-dropdown .cart-dropdown-icon { 
	color:#F4898F; 
}


#header .header-nav-main nav > ul > li:hover > a:hover { 
	color: #76D5D4 !important;
}

html section.section-secondary {
	background-color: #f7acb0 !important;
	border-color: #F4898F !important;
}

.selected-color {
	border: 5px solid #76D5D4 !important;
}

.sidebar.shop-sidebar ul.cat-list li a {
	line-height: 1;
}

#footer .contact i, html .text-color-primary, .product-details-box .product-detail-qty #product-vqty, 
#header .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-sub-nav > li > a, .panel-box a,
.cart-table tbody tr td.product-name-td h2 a, .edit-qty, .text-primary, .btn-remove, .form-col .expand-plus, .list-contact li i {
    color: #F4898F !important;
}


.form-section .form-action a:not(.btn), aside ul.nav-list > li.active > a {
    color: #85CCb9;
}

.product-details-box .product-actions .addtocart, .product .product-quickview { 
    color: #5BC1A5;
    background-color: #DCF3ED;
}


@media (min-width: 992px) {
    #header .header-nav-main nav > ul > li > a {
        font-size: 14px;
        font-weight: 600;
	}
	
	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu { 
		border-top-color: #76D5D4;
	}
}


aside ul.nav-list > li.active > a:before {
    border-left-color: #85CCB9;
}

.sidebar.shop-sidebar .filter-price .filter-price-details .btn { 
    background-color:  #DCF5F5;
    color: #76D5D4;
}

html.dark .checkbox-silver label:before,
.checkbox-silver label:before {
	background: #c0c0c0;
	border-color: #c0c0c0;
}
html.dark .checkbox-gold label:before,
.checkbox-gold label:before {
	background: #ffd700;
	border-color: #ffd700;
}
html.dark .checkbox-black label:before,
.checkbox-black label:before {
	background: #000;
	border-color: #000;
}
html.dark .checkbox-blue label:before,
.checkbox-blue label:before {
	background: #0000ff;
	border-color: #0000ff;
}
html.dark .checkbox-themed label:before,
.checkbox-themed label:before {
	background: #76D5D4;
	border-color: #DCF5F5;
}
html.dark .checkbox-brown label:before,
.checkbox-brown label:before {
	background: #A52A2A;
	border-color: #A52A2A;
}
html.dark .checkbox-clear label:before,
.checkbox-clear label:before {
	background: rgba(255,255,255,0);
	border-color: rgba(255,255,255,0);
}
html.dark .checkbox-green label:before,
.checkbox-green label:before {
	background: #00ff00;
	border-color: #00ff00;
}
html.dark .checkbox-grey label:before,
.checkbox-grey label:before {
	background: #808080;
	border-color: #808080;
}
html.dark .checkbox-opal label:before,
.checkbox-opal label:before {
	background: #A9C6C2;
	border-color: #A9C6C2;
}
html.dark .checkbox-orange label:before,
.checkbox-orange label:before {
	background: #FFA500;
	border-color: #FFA500;
}
html.dark .checkbox-pink label:before,
.checkbox-pink label:before {
	background: #FFC0CB;
	border-color: #FFC0CB;
}
html.dark .checkbox-purple label:before,
.checkbox-purple label:before {
	background: #800080;
	border-color: #800080;
}
html.dark .checkbox-rainbow label:before,
.checkbox-rainbow label:before {
	background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
	border-color: #000;
}
html.dark .checkbox-red label:before,
.checkbox-red label:before {
	background: #ff0000;
	border-color: #ff0000;
}
html.dark .checkbox-tan label:before,
.checkbox-tan label:before {
	background: #d2B48c;
	border-color: #D2B48C;
}
html.dark .checkbox-teal label:before,
.checkbox-teal label:before {
	background: #008080;
	border-color: #008080;
}
html.dark .checkbox-turquoise label:before,
.checkbox-turquoise label:before {
	background: #40E0D0;
	border-color: #40E0D0;
}
html.dark .checkbox-white label:before,
.checkbox-white label:before {
	background: #ffffff;
	border-color: #ffffff;
}
html.dark .checkbox-yellow label:before,
.checkbox-yellow label:before {
	background: #FFFF00;
	border-color: #FFFF00;
}
html.dark .checkbox-multi label:before,
.checkbox-multi label:before {
	background: repeating-linear-gradient(red, yellow 10%, green 20%);
	border-color: #000;
}
html.dark .checkbox-copper label:before,
.checkbox-copper label:before {
	background: #B87333;
	border-color: #B87333;
}
html.dark .checkbox-rosegold label:before,
.checkbox-rosegold label:before {
	background: #B76E79;
	border-color: #B76E79;
}
html.dark .checkbox-antiquegold label:before,
.checkbox-antiquegold label:before {
	background: #D4AF37;
	border-color: #D4AF37;
}
html.dark .checkbox-gunmetal label:before,
.checkbox-gunmetal label:before {
	background: #2C3539;
	border-color: #2C3539;
}
