<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="body">
      {% include header.html %}
      <div role="main" class="main">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
 
    <!-- Vendor -->		
		<script src="{{ "/vendor/jquery.appear/jquery.appear.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/jquery.easing/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/jquery-cookie/jquery-cookie.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/common/common.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/jquery.validation/jquery.validation.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/jquery.gmap/jquery.gmap.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/jquery.lazyload/jquery.lazyload.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/isotope/jquery.isotope.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/owl.carousel/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/magnific-popup/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/vide/vide.min.js" | prepend: site.baseurl }}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{{ "/js/theme.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/rs-plugin/js/jquery.themepunch.tools.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js" | prepend: site.baseurl }}"></script>

		<!-- Current Page Vendor and Views -->
		<script src="{{ "/js/views/view.contact.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.js" | prepend: site.baseurl }}"></script>

		<!-- Demo -->
		<script src="{{ "/js/demos/demo-shop-7.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/select2.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/jquery.datatables.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/jquery.isotope.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/dataTables.tableTools.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/datatables.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/admin.extension.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/examples.datatables.tabletools.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/youmax.min.js" | prepend: site.baseurl }}"></script>
		<!--
		<script src="{{ "/js/pinterest2.js" | prepend: site.baseurl }}"></script> 
		-->
		<!-- Theme Initialization Files -->
		<script src="{{ "/js/theme.init.js" | prepend: site.baseurl }}"></script>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhpYHdYRY2U6V_VfyyNtkPHhywLjDkhfg"></script>
		
		<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-581b726c069c6315"></script>
		<script src="{{ "/js/examples/examples.portfolio.js" | prepend: site.baseurl }}"></script>
		<script src="{{ site.baseurl }}/vendor/elevatezoom/jquery.elevatezoom.js"></script>
		<!-- Theme Custom -->
		<script src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>
		

		<script defer>
			if (localStorage.getItem('session_no')) {
				$('.loggedOff').show();
				$('.loggedIn').hide();
				$('.welcome-msg').html('Welcome '+ localStorage.getItem('username')+ '!');
			} else {
				$('.loggedOff').hide();
				$('.loggedIn').show();
			}
		</script>

		{% if page.url == "/register/" %}
		<script defer>
			$(document).ready(function () {
				$("#newUser").hide();
			});
		</script>		
		{% endif %}

		{% if page.url == "/login/" %}
		<script defer>
			$(document).ready(function () {
				login();
			});
		</script>
		{% endif %}

		{% if page.url == "/store/" %}
		<script defer>
			$(window).on('hashchange', function() {
				whichPage();
			});

			$(function() {
				sessionNumber();
				whichPage();
				fillShop();
			//    newCustomerSession();
			});		
		</script>
		{% endif %} 

		{% if page.url == "/" %}
		<script>
		(function( $ ) {
			
				// Home page slider
				if ($.fn.revolution) {
					$('#revolutionSlider').revolution({
						sliderType: 'standard',
						sliderLayout: 'auto',
						delay: 9000,
						gridwidth: 1140,
						gridheight: 550,
						disableProgressBar: 'on',
						spinner: 'spinner3',
						parallax:{
							type:"mouse",
							origo:"slidercenter",
							speed:2000,
							levels:[2,3,4,5,6,7,12,16,10,50],
						},
						navigation: {
							touch: {
								touchenabled: "on",
								swipe_threshold: 75,
								swipe_min_touches: 1,
								swipe_direction: "horizontal",
								drag_block_vertical: false
							},
							arrows: {
								style: "custom",
								enable: true,
								hide_onmobile: false,
								hide_onleave: true,
								hide_under:768,
								tmp: '',
								left: {
									h_align: "left",
									v_align: "center",
									h_offset: 20,
									v_offset: 0
								},
								right: {
									h_align: "right",
									v_align: "center",
									h_offset: 20,
									v_offset: 0
								}
							}
						}
					});
				}
			
				// Newsletter popup
				if ( document.getElementById('newsletter-popup-form') ) {
					$.magnificPopup.open({
						items: {
							src: '#newsletter-popup-form'
						},
						type: 'inline'
					}, 0);
				}
			}).apply( this, [ jQuery ]);
		</script>
		{% endif %}

		{% if page.url == "/contact/" %}
		<script>
			/*
			Map Settings

				Find the Latitude and Longitude of your address:
					- http://universimmedia.pagesperso-orange.fr/geo/loc.htm
					- http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

		

			// Map Markers
			var mapMarkers = [{
				address: "New York, NY 10017",
				html: "<strong>New York Office</strong><br>New York, NY 10017",
				icon: {
					image: "img/pin.png",
					iconsize: [26, 46],
					iconanchor: [12, 46]
				},
				popup: true
			}];

			// Map Initial Location
			var initLatitude = 40.75198;
			var initLongitude = -73.96978;

			// Map Extended Settings
			var mapSettings = {
				controls: {
					draggable: (($.browser.mobile) ? false : true),
					panControl: true,
					zoomControl: true,
					mapTypeControl: true,
					scaleControl: true,
					streetViewControl: true,
					overviewMapControl: true
				},
				scrollwheel: false,
				markers: mapMarkers,
				latitude: initLatitude,
				longitude: initLongitude,
				zoom: 16
			};

			var map = $('#googlemaps').gMap(mapSettings);

			// Map Center At
			var mapCenterAt = function(options, e) {
				e.preventDefault();
				$('#googlemaps').gMap("centerAt", options);
			}
				*/
		</script>	
		{% endif %}
  </body>

</html>
