<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="body">
      {% include newheader.html %}
      <div role="main" class="main">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
 
    <!-- Vendor -->		
		<script src="{{ "/vendor/jquery.appear/jquery.appear.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/jquery.easing/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/jquery-cookie/jquery-cookie.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/common/common.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/jquery.validation/jquery.validation.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/jquery.gmap/jquery.gmap.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/jquery.lazyload/jquery.lazyload.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/isotope/jquery.isotope.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/owl.carousel/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/magnific-popup/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/vide/vide.min.js" | prepend: site.baseurl }}"></script>
	

		<!-- Theme Base, Components and Settings -->
		<script src="{{ "/js/theme.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/rs-plugin/js/jquery.themepunch.tools.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js" | prepend: site.baseurl }}"></script>

		<!-- Current Page Vendor and Views -->
		<script src="{{ "/js/views/view.contact.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/nivo-slider/jquery.nivo.slider.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.js" | prepend: site.baseurl }}"></script>

		<!-- Demo -->
		<script src="{{ "/js/demos/demo-shop-2.js" | prepend: site.baseurl }}"></script>
		
		<script src="{{ "/js/select2.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/jquery.datatables.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/jquery.isotope.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/dataTables.tableTools.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/datatables.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/admin.extension.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/examples.datatables.tabletools.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/js/youmax.min.js" | prepend: site.baseurl }}"></script>
		<!--
		<script src="{{ "/js/pinterest2.js" | prepend: site.baseurl }}"></script> 
		-->
		<!-- Theme Initialization Files -->
		<script src="{{ "/js/theme.init.js" | prepend: site.baseurl }}"></script>

		<script src="https://maps.google.com/maps/api/js?key=AIzaSyDr-wWyQRq0K-iZWQLc2E5IjCt0TP-AkOo"></script>
		
		<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-581b726c069c6315"></script>
		<script src="{{ "/js/examples/examples.portfolio.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "/vendor/elevatezoom/jquery.elevatezoom.js" | prepend: site.baseurl }}"></script>
		<!-- Theme Custom -->
		<script src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>
		

		<script defer>
			if (localStorage.getItem('session_no')) {
				$('.loggedOff').show();
				$('.loggedIn').hide();
				$('.welcome-msg').html('Welcome '+ localStorage.getItem('username')+ '!');
			} else {
				$('.loggedOff').hide();
				$('.loggedIn').show();
			}
			if (localStorage.getItem('username') && localStorage.getItem('username') === 'Guest' ) {
				$('.myaccount-link').hide();
			} else {
				$('.myaccout.link').show();
			}
		</script>

		{% if page.url == "/register/" %}
		<script defer>
			$(document).ready(function () {
				$("#newUser").hide();
			});
		</script>		
		{% endif %}

		{% if page.url == "/login/" %}
		<script defer>
			$(document).ready(function () {
				login();
			});
		</script>
		{% endif %}

		{% if page.url == "/store/" %}
		<script defer>
			sessionNumber();

			$('#coupon1, #coupon2').keypress(function(e){
        if(e.which == 13 ) {
					e.preventDefault();
					beaderCoupon();
				}
			});

			$(function() {
				if ( localStorage.getItem('urlHash') && localStorage.getItem('session_no') ) {
					window.location.hash = localStorage.getItem('urlHash');
					localStorage.removeItem('urlHash');
				} else {
					if (!localStorage.getItem('shopParams')) {
						localStorage.setItem('shopParams', ['all','4']);
					}
					fillShop();
					whichPage();
				}
			
			$(window).on('hashchange', function() {
				whichPage();
			});
			//    newCustomerSession();
			});		
		</script>
		{% endif %}

		{% if page.url == "/" %}

		{% endif %}

		{% if page.url == "/index2/" %}
		<script>
			$( "#header" ).addClass( "transparent header-full-width" );
		
		</script>
		{% endif %}

		{% if page.url == "/contact/" %}
		
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		
		<script>
					
			 document.getElementById("validateButton").disabled = true;
      function enableBtn(){
        document.getElementById("validateButton").disabled = false;
      }
	/*
			Map Settings

				Find the Latitude and Longitude of your address:
					- http://universimmedia.pagesperso-orange.fr/geo/loc.htm
					- http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

			*/

			// Map Markers
			var mapMarkers = [{
				address: "Largo, FL 33773",
				html: "<strong>PrimaDIY</strong><br>Largo, FL 33773",
				icon: {
					image: "../img/pin.png",
					iconsize: [26, 46],
					iconanchor: [12, 46]
				},
				popup: true
			}];

			// Map Initial Location
			var initLatitude = 27.884898636083026;
			var initLongitude = -82.75917291641235;

			// Map Extended Settings
			var mapSettings = {
				controls: {
					draggable: (($.browser.mobile) ? false : true),
					panControl: true,
					zoomControl: true,
					mapTypeControl: true,
					scaleControl: true,
					streetViewControl: true,
					overviewMapControl: true
				},
				scrollwheel: false,
				markers: mapMarkers,
				latitude: initLatitude,
				longitude: initLongitude,
				zoom: 13
			};

			var map = $('#googlemaps').gMap(mapSettings);

			// Map Center At
			var mapCenterAt = function(options, e) {
				e.preventDefault();
				$('#googlemaps').gMap("centerAt", options);
			}
			
		</script>	
		{% endif %}
  </body>

</html>
